<div class="modal-content">
  <div class="modal-body d-flex flex-column align-items-center">
    <div class="mt-3">
      <button pButton pRipple label="Sign in with Microsoft" icon="pi pi-microsoft" class="auth-button"
        (click)="microsoftAuth()"></button>
    </div>
    <div class="mt-3">
      <button pButton pRipple label="Sign in with Google" icon="pi pi-google" class="auth-button"
        (click)="googleAuth()"></button>
    </div>
    <div class="mt-3">
      <button pButton pRipple label="Sign in with email" icon="pi pi-envelope" class="auth-button" (click)="emailAuth()"
        [routerLink]="['/login']"></button>
    </div>
    <div class="mt-3 agreement">
      <p>By continuing, you agree to our <a href="/user-agreement" target="_blank">User Agreement</a> and acknowledge
        that you understand the <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</p>
    </div>
  </div>
</div>